.nav-link{
    font-size: 20px;
    font-weight:normal;
    text-transform: uppercase;
    margin: 20px;
}


@media (min-width: 300px) and (max-width: 991px) {

    .nav-link{
        margin: 0px;
    }
}